<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head', {title: 'Dashboard'}); %>
    </head>
    <body>
        <%- include('./partials/navigation', {dashboard: true}); %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Welcome to Auriga!</h3>
                    <p class="lead">
                        Auriga is a solution to assist NGOs in
                        building their online presence.
                    </p>
                    <p>
                        Get started by filling the form on the right!
                        You can publish your page once you've filled
                        all the details.
                    </p>
                    <% if (alert) { %>
                        <div class="alert <%= alert.classes %>" role="alert">
                            <%= alert.message %>
                        </div>
                    <% } %>
                    <% if (acct.publish) { %>
                        <div class="alert alert-success" role="alert">
                            Your site has been published, <a href="/ngo/<%= acct.name %>">visit website</a>.
                        </div>
                    <% } %>
                </div>
                <div class="col">
                    <form action="/detail" method="post">
                        <div class="mb-3">
                            <label for="ngoName" class="form-label">Organization Name</label>
                            <input type="text" class="form-control" name="ngoName" id="ngoName" value="<%= acct.name %>" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description">Describe your Organization</label>
                            <textarea class="form-control" name="description" id="description" placeholder="Description..." rows="3" required><%= acct.description %></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="phone" pattern="[6-9]{1}[0-9]{9}" class="form-label">Phone</label>
                          <input type="tel" class="form-control" id="phone" name="phone" minlength="10" value="<%= acct.phone %>" required>
                          <small>Format: 10 digit phone number</small>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Image</label>
                            <input type="text" class="form-control" name="image" id="image" value="<%= acct.image %>" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Theme</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="theme" id="singlepage" value="singlepage" <%= acct.theme === 'singlepage' ? 'checked' : '' %>>
                                <label class="form-check-label" for="singlepage">Single Page</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="theme" id="multipage" value="multipage" <%= acct.theme === 'multipage' ? 'checked' : '' %>>
                                <label class="form-check-label" for="multipage">Multi Page</label>
                            </div>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="publish" role="switch" id="publish" <%= acct.publish ? 'checked' : '' %>>
                            <label class="form-check-label" for="publish">Publish</label>
                        </div>

                        <button style="width: 100%; margin-top: 1em;" type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
